body {
  background-color: #131516;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  color: #e8e6e3;
  margin: 0;
  text-align: center;
}

.title__container {
  width: 100%;
  transition: all 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: min(22vw, 182px);
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
  vertical-align: top;
  margin-top: 30px;
  margin-bottom: 0;
}

.gh__container {
  margin-bottom: 10vh;
}

.screen {
  width: 1050px;
  max-width: 90vw;
  border: 3px solid rgba(232, 230, 227, 0.35);
  transition: transform 0.3s ease;
  border-radius: 0.5em;
}

.screen:hover {
  transform: scale(1.05);
}

.logo {
  width: 128px;
  max-width: 90vw;
  transition: transform 0.3s ease;
  display: none;
}

.logo:hover {
  transform: scale(1.2);
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

@media screen and (max-width: 420px) {
  .screen {
    display: none;
  }
  .logo {
    display: inherit;
  }
}